body {
min-height: 2000px;
padding-top: 70px;
/*padding-bottom: 20px;*/
margin-bottom: 60px;
padding-bottom: 40px;
color: #5a5a5a;
}
.jumbotron {
height: 500px;
}
nav {
height: 40px;
}
.btn {
margin-top: 200px;
}
h1 {
margin-top: 50px;
padding-top: 20px;
}
html {
position: relative;
min-height: 100%;
}
.footer-wrapper {
position: absolute;
left: 0;
bottom: 0;
height: 200px;
width: 100%;
}
h3 {
font-size: 20px;
}
p {
padding-top: 20px;
}
.navbar-wrapper {
position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
padding-right: 0;
padding-left: 0;
}
.navbar-wrapper .navbar {
padding-right: 15px;
padding-left: 15px;
}
.navbar-wrapper .navbar .container {
width: auto;
}
/* Carousel base class */
.carousel {
height: 500px;
margin-bottom: 60px;
margin-top: 40px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
height: 500px;
background-color: #777;
}
.carousel-inner > .item > img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
height: 500px;
}